 /*Images = %*/
 /*Text = px*/
 body {
     background-color: #d3d3d3;
 }

 footer {
     background-color: #3b313100;
     color: #000000;
     text-align: end;
     padding: 10px;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 220px;
 }

 p {
     font-family: serif;
     font-size: 20px;
 }

 h1,
 h3,
 h4 {
     font-family: 'Times New Roman', serif;
 }

 h1 {
     font-size: 75px;
     text-align: center;
 }

 h3 {
     font-size: 35px;
     text-align: center;
 }

 h4 {
     font-size: 30px;
 }

 img {
     /*Made img a bit bigger within the divs /Caspian*/
     width: 90%;
 }

 /*Padding & margins needed /Caspian*/
 .container {
     /*justify-content: space-around;*/
     display: flex;
 }


 /*Padding & margins needed /Caspian*/
 .box {
     width: 2500px;
     height: 550px;
     padding: 50px;
     margin: 10px;

 }