 /*Images = %*/
 /*Text = px*/
 body {
     background-color: #d3d3d3;
 }



 footer {
     background-color: #746767;
     color: #000000;
     text-align: center;
     padding: 10px;
     position: relative; 
     /* left: 50%;
     transform: translate(-50%); */
     bottom: 0px;
     width: 99%;
 }

 /*Justify the text for it not t*/
 p {
     font-family: serif;
     font-size: 20px;
     text-align: justify;
     
 }

 h1,
 h3,
 h4 {
     font-family: 'Times New Roman', serif;
 }

 h1 {
     font-size: 75px;
     text-align: center;
     margin: 10%;
 }

 h3 {
     font-size: 35px;
     text-align: center;
 }

 h4 {
     font-size: 30px;
 }

 img {
     /*Made img a bit bigger within the divs /Caspian*/
     width: 100%;
     object-fit: cover;
     
 }

 /*Padding & margins needed /Caspian*/
 .container {
     /*justify-content: space-around;*/
     display: flex;
     padding: 20px;
     margin: 50px;
    
     
 }


 /*Padding & margins needed /Caspian*/
 .box {
     width: 2500px;
     height: 600px;
     padding: 50px;
     margin: 10px;
     box-shadow: -5px -5px 10px white, 5px 5px 10px #aaa;

 }